<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="items">
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-thumbnail slot="start">
          <ion-img [src]="item.image_path" *ngIf="item.image_path"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{item.title}}</h2>
          <h2>${{item.price}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
